
.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    border-radius: 16px 16px 16px 16px;
    background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252));

    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    border: none;
    width: 20%;
    height: 50%;;
    margin: 0 auto  ;
  margin-top: 4%;
    
  }
  