.game-container{
    text-align: center;
    background-color:rgba(228, 235, 235, 0.452);


}   

.text-container{
    overflow:hidden;

}
.image-button h2{
    font-size:calc(4px + 2vw);
}



.image-button{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    background-image: linear-gradient(rgba(32, 95, 233, 0.781), rgba(238, 236, 232, 0.795));
    height:calc(10px+ 10vw);
    width:calc(10px+ 10vw);

}


.question{
    margin:20px;
    font-weight:700;
    font-size:28px;
    letter-spacing: 1px;
}


.learn-more-div{
    display: flex;
    text-align: center;
    justify-content:center;
    padding:20px;

}

.learn-more-btn{
    width: 180px;
    height:45px;
    text-align: center;
    font-size:20px;
    font-weight:600;
    color:rgb(24, 23, 23);
    background-color:rgba(19,151,213,255);
    ;


}
.game-button {
    font-size:25px;
    font-weight:800;
}
@media all and (max-width:400px){
    .image-button{
        top: 65%;
        left: 50%;
    }

}

