.entire-box{
    min-height:70vh;
    display:flex;
    align-items: center;
    justify-content:center;
}

.content-links{
    
    background: no-repeat left url("matching.jpg");
    background-size:77%;
    background-color:#fdfdfd;
    overflow:hidden;
}
.inner-wrapper{

    width:48%;
    float:right;
    background-color:rgba(19,151,213,255);
    padding:50px;


}
.inner-wrapper h1{
    margin-bottom:30px;
    font-size:30px;
    font-weight:900;
    color:white;
}

.gameIndex {
 font-size: 20px;
 color:white;
 background-color:darkblue;
}



@media screen and (max-width:1200px){
    .inner-wrapper{
        padding:80px;
    }
}
@media screen and (max-width:600px){
    .content-section{
        padding:0;
    }
    .inner-wrapper{
        width:100%;
        padding:25px;

    }
    .inner-wrapper h1{
        padding-top:0;

    }
}
