main{
    margin: 0px;
}

.navbar-logo{
    padding-top: 11px;
}

.NavbarItems {
    background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252));
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    position: relative;
    margin: 0;
    
        
      }
    

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-right: 2rem;
    padding-top: 20px;
    
    
    
}

.nav-links{
    color: white;
    text-decoration: none;
    padding: 1rem 1rem;
    
}

.nav-links:hover {
    background-color : #6d76f7;
    border-radius: 4px;
    transition:all 0.2s ease-out;
    text-decoration: none;
    
}

h1{
    color:white;
    
}
