main{
    margin: 0px;
}

.navbar-logo{
    padding-top: 11px;
}

.NavbarItems {
    background: linear-gradient(90deg, blue , lightblue);
    height: 80px;
    display: flex;
    justify-content: left;
    font-size: 1.2rem;
    position: relative;
    margin: 0;
    padding-left:15px;

    
        
      }
    

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    list-style: none;
    text-align: center;
    justify-content: end;
    margin-left: 25rem;
    padding-top: 1.5rem;
   
    
    
    
}

.nav-links{
    color: navy;
    text-decoration: none;
    padding: 1rem 1rem;
    
}

.nav-links:hover {
    background-color : #6d76f7;
    border-radius: 4px;
    transition:all 0.2s ease-out;
    text-decoration: none;
    
}

h1{
    color:white;
    
}
